@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
body   
{  
margin-top: 50px;    
margin-left: 0px;
margin-right: 0px;
margin-bottom: 0px;
font-family: 'PT Serif', sans-serif;
background-color: #e1e1e157;
}
header {  
    background-color: rgb(34, 32, 29);  
    position: fixed;  
    left: 0;  
    top: 0px;  
    right: 0;   
    align-items: center;  
}  
#Home{
     background-image: url(Background\ page.jpg); 
     background-size:cover;
}
.container{
    margin-right: 1%;
    margin-left: 1%;
    background-color: rgba(168, 167, 167, 0.182);
    padding: 10px;
}
.nav-items{
    visibility: visible;
    background-color: transparent;
}
.nav-items:hover{
    background-color: #090a09;
}
.nav-things {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 50px;
    overflow: hidden;
    background-color: #333;
    
  }
  
.nav-things li {
    float: left;
  }
  
.nav-things  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.column {
    float: left;
    padding: 10px;
    height: auto; 
}
.clock-design{
    text-align: left; 
    font-size: 20px; 
    font-weight: bolder; 
    padding: 10px; 
    background-color: transparent;
}
footer{
    left: 0;  
    right: 0;  
    top: 0px;  
    bottom: 0px; 
    background-color: rgb(29, 29, 29);
    height: auto;
    color: aliceblue;
}
.footer-container{
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
}
.f-card{
    width: 200px;
    height: 170px;
}
.row {
    display: table;
  }
.left{
    width: 55%;
}
.right{
    width: 40%;
}
.left1{
    width: 30%;
}
.right1{
    padding: 40px; 
    width: 60%;
}
@media only screen and (max-width:1000px){
    .right{
        width: 100%;
    }
    .left{
        width: 100%;
    }
    .left1{
        width: 100%;
    }
    .right1{
        width: 90%;
    }
}

.left.h1{
     top: 50%;
}

.mainText{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 24px;
}
.aboutImg{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
}

.mainImage{
    margin: 2%;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    border: transparent;
    box-shadow:0 10px 100px 0 rgba(0,0,0,1);
}        
.card-container{
    margin: 20px;
    margin-left: 5%;
    margin-right: 5%;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: aliceblue;
    width: 380px;
    border-radius: 5px;
    margin: 14px;
    overflow: hidden    ;
}
.card p {
    align-items: center;
    text-align: center;
    font-size: 18px;
}
.card img{
    position: inherit;
    width: 100%;
    height: 300px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}
.card::before {
    content: "";
    position: absolute;
    height: 10%;
    width: 25%;
    background: linear-gradient(0deg, rgb(0, 0, 0), rgb(122, 122, 122), rgb(151, 151, 151));
    z-index: -1;
    filter: blur(20px);
  }
@media(max-width: 500px){
    .nav-items{
        visibility: hidden;
    }
    .card{
        width: 80%;
        font-size: 80%;
        height: 80%;
    }
    .card img{
        height: 90%;
    }
    .card p{
        font-size: 80%;
    }
    .right1{
        font-size: 100%;   
    }
}
  .progress-bar {
    position: inherit;
    height: 20px;
    border-radius: 20px;
    margin: 10px 10px;
    border: 1px solid rgb(244, 244, 244);
    box-shadow: 1px 1px 8px 0 rgba(0,0,0,0.2);
    overflow: hidden;
  }
  
  .progress-bar span {
    height: 100%;
    display: block;   
    line-height: 30px;
    text-align: end;
    padding-right: 5px;
    background-color: rgb(4, 95, 223);
  }
.btn{
    background-color: rgba(53, 53, 53, 0.577);
    border:rgb(255, 255, 255);
    -webkit-text-fill-color: white;
    border-radius: 5px;
    font-size:  15px;
    text-align: center;
    padding-top: 7px;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 8px;
}
.btn:hover{
    background-color: rgba(10, 10, 10, 0.94);
    border-color: #090a09;
    border-width: 10%;
}
.profile-card{
    text-align: center; 
    margin: 10px; 
    font-size: large;
    font-style: italic;
    font-weight: normal; 
    display:inline;
    padding-bottom: 10px;
}